.confirm{
    width: 30%;
    height: 200px;
    background-color: white;
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-align: center;
    @include phonein{
        width: 90%;
    }
    &_close{
        text-align: end;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    &_form{
        display: flex;
        padding-top: 20px;
        & > *{
            text-align: center;
            padding:5px 1.5% 10px;
        }
        &_submit{
            width: 50%;
        }
        &_cancel{
            width: 50%;
        }
    }

    button{
        border: none;
        border-radius: 10rem;
        height: 2.5rem;
        width: 80%;
        background-color: rgb(200, 200, 200);
    }
    span{
        font-size: 1.5rem;
        font-weight: 900;
    }
}