.gallery {

    overflow: hidden;
    position: relative;
    margin: 0 0 120px;
    &_ul {
        height: 100%;
        width: 300%;
        display: flex;
        transition: all 0.8s;
    }
    &_li {

    }
    &_img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    [class$="-button"] {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        color: #fff;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translateY(-50%);
    }
    &_left-button {
        left: 5%;
    }
    &_right-button {
        right: 5%;
    }
    &_index{
        height: 15px;
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        & > * {
            &:not(:last-child) {
              margin-right: 2rem;
            }
        }
        &-dot{
            //background-color: transparent;
            border: none;
            font-size: 0.5rem;
            border-radius: 1rem;
            background-color: rgba(white, 0.4);
            &_active{
                border: none;
                font-size: 0.5em;
                background-color: rgba(white, 1);
                border-radius: 1rem;
            }
        }
       
    }
    

/*
    h1{
        font-size: 52px;
        font-weight: 400;
        line-height: 1.5;
    }
    .btn {
        background: #f05f5c;
        color: white;
        padding: 9px 26px;
        border-radius: 20px;
    }
    .container{
        position: relative;top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
*/

}