.header{
    background-color: #fff;
    height: 8rem;
    width: 100%;
    padding: 1rem 3rem;
    padding-bottom: 0;
    border-bottom: solid 1px #cfd2cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 10;
    &_top{
        height: 50%;
        width: 100%;
        align-items: center;
        display: flex;
    }
    &_logo{
        display: flex;
        flex: auto;
    }
    &_img{
        height: 3rem;
        width: 3rem;
    }
    &_tittle{
        font-size: 2rem;
        margin-left: 1rem;
        &:hover {
            color: #000;
        }
    }
    &_userinfo{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        flex: 0 0 20%;
    }
    &_login, &_reg, &_cart{
        margin: 5%;
        &:hover {
            color: #000;
        }
    }
    &_bottom{
        height: 50%;
        display: flex;
        font-size: 1.2rem;
        font-weight: 600;
        & > * {
            margin-right: 2rem;
            &:hover {
                color: #000;
            }
        }
        &-newitem:hover &-newitem-cat{
            display: flex; 
        }
        &-newitem-cat{
            display: none; 
            width: 10%;
            transform: translateX(-30%);
            background-color: #fff;
            margin-top: 2rem;
            padding: 1rem;
            position: absolute;
            //display: flex;
            flex-direction: column;
            border-radius: 0.3rem;
            box-shadow: 5px 5px 15px -3px rgb(0 0 0 / 70%);
            & > *{
                margin: 1rem;
            }
        }
    }

}

.dummy{
    height: 8rem;
}
