@keyframes list-popup {
    from {
        transform: translateX(-100%);
        //opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 100;
    }
  }

.header{
    background-color: #fff;
    height: 8rem;
    width: 100%;
    padding: 2% 3% 0%;
    padding-bottom: 0;
    border-bottom: solid 1px #cfd2cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 10;
    @include phonein{
        height: 4rem;
    }
    &_top{
        height: 50%;
        width: 100%;
        align-items: center;
        display: flex;
        @include phonein{
            height: 100%;
        }
    }
    &_phoneicon{
        display: none;
        @include phonein{
            display:flex; 
            width: 50%;
            font-size: 1.5rem;
            padding-left: 5%;
            &_img{
                cursor: pointer;
            }
        }
    }
    &_logo{
        display: flex;
        flex: auto;
    }
    &_img{
        height: 3rem;
        width: 3rem;
        @include phonein{
            transform: translateX(-50%);
        }
    }
    &_tittle{
        font-size: 2rem;
        margin-left: 1rem;
        &:hover {
            color: #000;
        }
        @include phoneout;
    }
    &_userinfo{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        flex: 0 0 20%;
        @include phoneout;
    }
    &_login, &_reg, &_cart{
        margin: 5%;
        &:hover {
            color: #000;
        }
    }
    &_bottom{
        @include phoneout;
        height: 50%;
        display: flex;
        font-size: 1.2rem;
        font-weight: 600;
        & > * {
            margin-right: 2rem;
            &:hover {
                color: #000;
            }
        }
        &-newitem:hover &-newitem-cat{
            display: flex; 
        }
        &-newitem-title{
            height: 100%;
        }
        &-newitem-cat{
            display: none; 
            width: 20%;
            transform: translateX(-30%);
            background-color: #fff;
            padding: 1rem;
            position: absolute;
            //display: flex;
            flex-direction: column;
            border-radius: 0.3rem;
            box-shadow: 5px 5px 15px -3px rgb(0 0 0 / 70%);
            & > *{
                margin: 1rem;
            }
        }
    }
    &_phonelist{
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: 3.5rem;
        background-color: rgb(255, 255, 255);
        animation: list-popup 0.5s;
        &_ul{
            align-items: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            & > * {
                height: 8%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 10%;
            }
        }
    }

}

.dummy{
    height: 8rem;
    @include phonein{
        height: 3.5rem;
    }
}


