.totopbutton{
    border: none;
    background-color: transparent;
    font-size: 3rem;
    position: fixed;
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    animation: btn-popup 1s;
}