.checkout{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 20%;
        margin-left: 3%;
        margin-top: 3%;

    }
    span{
        font-family: monospace;
    }
    &_item{
        @include phonein{
            width: 90%;
        }
        width: 50%;
        display: flex;
        align-items: center;
        &_details{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 3%;
            &_left{
                display: flex;
                flex-direction: column;
                flex:auto;
                &_title{
                    font-size: 1.2rem;
                    font-weight: 900;
                }
                &_qty{
                    &_icon{
                        font-size: 1.5rem;
                        cursor: pointer;
                        margin-left: 10px;
                        border: 1px solid;
                        border-radius: 10px;
                        width: 30px;
                        text-align: center;
                        align-items: center;
                    }

                }
            }
            &_right{
                min-width: 50px;
            }
        }
    }
    &_buttom{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: right;
        font-size: 1.5rem;
        font-weight: 900;
        cursor: pointer;
        &_checkout{
            margin-right: 20px;
        }
    }
    &_alert{
        text-align: center;
        font-weight: 900;
        font-size: 1.5rem;
        margin-top: 100px;
    }
}